@font-face {
    font-family: aovel-sans-rounded;
    src: url("font.ttf");
}
body {
    font-family: aovel-sans-rounded; 
    letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center; 
}